p {
  text-decoration: underline solid blue;
  color: blue;
  background-color: yellow;
  height: 100px;
  width: 100px;
}
a {
  text-decoration: none;
  color: black;
  background-color: red;
  width: 100px;
}
