* {
	margin: 0;
	padding: 0;
	list-style: none;
}

div {
	width: 500px;
	height: 500px;

}

div.box1 {
	margin-bottom: 50px;
	background-image: url('../img/cavapoo.jpg');
	background-size: 200px;
	background-position: center;
	background-repeat: no-repeat; 
}

div.box2 {
	background-image: url('../img/star.png'), url('../img/cava.jpg');
	background-size: 100px, contain;
}
