*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

div.top:first-child::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: blue;
}

div.top:last-child::after{
	content:"";
	display: block;
	width: 100px;
	height: 100px;
	background-color: red;
}

div.bottom:first-child::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: blue;
}

div.bottom:last-child::after{
	content:"";
	display: block;
	width: 100px;
	height: 100px;
	background-color: red;
}
