* {
	margin:0px;
	padding:0px;
	list-style: none;
}

li.list p {
	background-color: yellow;

}

li.list > p {
	font-size: 50px;
}

li.list > p.text1 {
	color: red;
}

body > div > p {
	font-style: italic;
}

div > div > p {
	background-color: red;
}

body > div > div > p {
	color: yellow;
}

h1,h4 {
	color: blue;
}

h1,h4, p.text1 {
	margin-left: 100px;
}

body > h1 , h4 {
	text-decoration: underline solid green;
}

body > h1, body>h4 {
	background-color: pink;
}
